.backgroundimage {
    background-image: url("../image/Psychic-Abilities-List-Psychic-Powers-Types-1200x899.jpg");
 height: 1000px;
    width:  auto;
background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.head {
    text-align: center;
    text-shadow: 2px 2px 5px red;
    color: white;
    padding-top: 40px;
    font-size: 30px;
}

#wins{
    text-align: center;
    text-shadow: 2px 2px 5px red;
    color:white;
    padding-top: 100px;
    font-size: 35px;
}

#losses{
    text-align: center;
    text-shadow: 2px 2px 5px red;
    color: white;
    padding-top: 80px;
    font-size: 35px;
    
}

#GuesesLeft{
    text-align: center;
    text-shadow: 2px 2px 5px red;
    color: white;
    padding-top: 80px;
    font-size: 35px;


}

#soFar{

    text-align: center;
    text-shadow: 2px 2px 5px red;
    color: white;
    padding-top: 80px;
    font-size: 35px;
}